In [1]:
from src.core.suicide_data_service import SuicideDataService
import pandas

In [2]:
service = SuicideDataService()

In [5]:
content = service.search()

In [6]:
pandas.read_csv(content, sep=';')

                       Município  Óbitos p/Residênc
0              350010 Adamantina                  1
1                  350070 Agudos                  2
2             350100 Altinópolis                  2
3                350115 Alumínio                  1
4         350130 Álvares Machado                  1
5      350140 Álvaro de Carvalho                  1
6               350160 Americana                  4
7               350210 Andradina                  2
8                350220 Angatuba                  1
9            350275 Araçariguama                  3
10              350280 Araçatuba                  3
11     350290 Araçoiaba da Serra                  1
12                350300 Aramina                  1
13             350320 Araraquara                  2
14         350380 Artur Nogueira                  1
15                  350400 Assis                  2
16                350410 Atibaia                  3
17                   350430 Avaí                  1
18                  350450 Avaré                  3
19                350480 Bálsamo                  1
20               350550 Barretos                  7
21               350560 Barrinha                  2
22                350570 Barueri                  8
23                 350580 Bastos                  2
24                  350600 Bauru                  8
25              350610 Bebedouro                  2
26   350630 Bernardino de Campos                  2
27               350635 Bertioga                  1
28                350680 Bocaina                  1
29                350700 Boituva                  3
..                           ...                ...
221               355150 Serrana                  2
222           355170 Sertãozinho                  1
223             355190 Severínia                  1
224              355220 Sorocaba                  9
225                355240 Sumaré                  9
226                355250 Suzano                  5
227             355270 Tabatinga                  1
228       355280 Taboão da Serra                  7
229                355290 Taciba                  1
230                355300 Taguaí                  3
231                355340 Tanabi                  2
232          355370 Taquaritinga                  1
233               355390 Tarabai                  2
234                 355400 Tatuí                  5
235               355410 Taubaté                  6
236                 355450 Tietê                  1
237               355460 Timburi                  1
238       355490 Três Fronteiras                  2
239                  355500 Tupã                  2
240               355540 Ubatuba                  1
241             355550 Ubirajara                  1
242                 355560 Uchoa                  1
243                355600 Urupês                  2
244              355620 Valinhos                  1
245       355650 Várzea Paulista                  3
246               355670 Vinhedo                  2
247             355680 Viradouro                  1
248            355700 Votorantim                  3
249           355710 Votuporanga                  1
250                        Total               1117

[251 rows x 2 columns]